bleach==2.1.2
boto3==1.5.20
botocore==1.8.34
certifi==2018.1.18
chardet==3.0.4
chargebee==2.4.5
defusedxml==0.5.0
dj-database-url==0.4.2
Django==2.2.13
django-allauth==0.34.0
django-allauth-2fa==0.5
django-appconf==1.0.2
django-auditlog==0.4.5
django-compressor==2.2
django-extensions==1.9.9
django-jsonfield==1.0.1
django-organizations==1.0.0
django-otp==0.4.2
docutils==0.14
gunicorn==19.7.1
html5lib==1.0.1
idna==2.6
jmespath==0.9.3
newrelic==2.102.0.85
oauthlib==2.0.6
psycopg2==2.7.4
PyJWT==1.5.3
python-dateutil==2.6.0
python-http-client==3.0.0
python3-openid==3.1.0
pytz==2017.3
qrcode==5.3
rcssmin==1.0.6
requests==2.18.4
requests-oauthlib==0.8.0
rjsmin==1.0.12
s3transfer==0.1.12
sendgrid==3.6.5
sendgrid-django==4.2.0
six==1.11.0
typing==3.6.2
urllib3==1.22
webencodings==0.5.1
whitenoise==3.3.1