{% extends 'base.html' %}
{% block content %}
        <div class="col-lg-8 col-md-10 mx-auto section_web  text-center">
        <div class="title ">
                <h1>¿Quienes somos?</h1>
            </div>
            <div class="parrafo">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
            </div>
</div>

<div class="col-lg-8 col-md-10 mx-auto section_web  text-center">
        <div class="title ">
                <h1>Servicios</h1>
                <div class="row">
                <div class="col-lg-6">Domicilio</div>
                <div class="col-lg-6">Casa</div>
                </div>
            </div>
            
</div>

<div class="col-lg-8 col-md-10 mx-auto section_web  text-center">
        <div class="title ">
                <h1>Siguenos</h1>
            </div>
            <div class="parrafo">
                   Instagram 
            </div>
</div>


<div class="col-lg-8 col-md-10 mx-auto section_web  text-center">
        <div class="title ">
                <h1>Contacto</h1>
            </div>
            <div class="parrafo">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
            </div>
</div>





{% endblock %}